name: Deploy
on:
  workflow_dispatch:
  push:
    branches:
      - dev
jobs:
  build:
    name: Build & Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Superset Repository
        uses: actions/checkout@v2
        with:
          repository: 5x-Platform/5x-superset
          path: superset
          ref: dev

      # - name: Checkout Frontend Repository
      #   uses: actions/checkout@v2
      #   with:
      #     repository: 5x-Platform/5x-superset-ui
      #     token: ${{ secrets.GH_PAT }}
      #     path: frontend
      #     ref: dev

      # - name: Create superset-frontend Folder
      #   run: mkdir backend/superset-frontend

      # - name: Move Frontend Files
      #   run: mv frontend/* backend/superset-frontend/

      # - name: Configure AWS credentials
      #   uses: aws-actions/configure-aws-credentials@v1
      #   with:
      #     aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
      #     aws-secret-access-key: ${{ secrets.AWS_SECRET_KEY }}
      #     aws-region: us-east-1

      # - name: Login to Amazon ECR
      #   id: ecr-login
      #   uses: aws-actions/amazon-ecr-login@v1        

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_KEY }}
          aws-region: us-east-1

      # Login to Amazon ECR
      - name: Login to Amazon ECR
        id: ecr-login
        uses: aws-actions/amazon-ecr-login@v1

      - name: Build Code
        run: |
          cd superset
          docker build -t 5x-superset-dev .
          docker tag 5x-superset-dev:latest 153475762833.dkr.ecr.us-east-1.amazonaws.com/5x-superset-dev:latest
          docker push 153475762833.dkr.ecr.us-east-1.amazonaws.com/5x-superset-dev:latest
